html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  scroll-behavior: smooth;
  
}

html,body{
  vertical-align: baseline;
  scroll-behavior: smooth;}

  
body {
  line-height: 1;
  display:grid;
  
}
body {
  -webkit-text-size-adjust: none;
}

body {
  -ms-overflow-style: scrollbar;
}
html {
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #24242a;
}
html {
  font-size: 16pt;
}

@media screen and (max-width: 1680px) {
  html {
      font-size: 12pt;
  }
}
body {
  background-color: #24242a;
  color: rgba(255, 255, 255, 0.5);
}

body, input, select, textarea {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea {
      line-height: 2;
  }
}
body {
  padding-top: 4rem;
}

@media screen and (max-width: 980px) {
  body {
      padding-top: 44px;
  }
}
* {
  user-select: none;
}


.Shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
.ShadowColorDiscord:hover{
  box-shadow: 0 8px 16px 0 rgba(88, 101, 242), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}




/* Footer */
#footer {
  text-align: center;
}

#footer .contact-form {
  margin-bottom: 8.25rem;
}

#footer .contact-form ul {
  margin-bottom: 0;
}

#footer .contact-info {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto 5.5rem auto;
  padding-left: 2rem;
  width: 40rem;
}

#footer .contact-info .item {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 2.75rem;
  margin-bottom: 2.75rem;
  text-align: left;
  width: 18rem;
}

#footer .contact-info .item p {
  margin: 0;
}

#footer .contact-info .item a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#footer .contact-info .item a:hover {
  color: #ffffff;
}

#footer .inner {
  max-width: 50rem;
}

#footer .inner header {
  margin: 0 auto;
  max-width: 75%;
}

#footer .inner header > :last-child {
  margin-bottom: 0;
}

#footer .inner .icon.alt {
  margin: 0 2.75rem 0 0;
}

#footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 5.5rem auto;
  max-width: 80rem;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #footer .inner {
    max-width: calc(100% - 6rem);
  }

  #footer .copyright {
    max-width: calc(100% - 6rem);
  }

  #footer .contact-form {
    margin-bottom: 5.5rem;
  }
}

@media screen and (max-width: 980px) {
  #footer .inner {
    max-width: calc(100% - 5rem);
  }

  #footer .inner header {
    max-width: 100%;
  }

  #footer .copyright {
    max-width: calc(100% - 5rem);
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  #footer .inner {
    max-width: calc(100% - 4rem);
  }

  #footer .inner .icon.alt {
    margin: 0 2.0625rem 0 0;
  }

  #footer .copyright {
    max-width: 100%;
    margin: 0 auto 2.75rem auto;
    width: 100%;
  }

  #footer .contact-info {
    padding-left: 0;
    width: 100%;
    margin: 0 auto 2.75rem auto;
  }

  #footer .contact-info .item {
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  user-select: none;
}

.HeaderText
{
font-size: 32px;
color: white;
}

.PresentationCardIMG
{
  

border-radius: 50px;
height: 200px;
width: 350px;
}
.PresentationCardDIV
{
  display: inline-grid;


  border: 1px solid #ffffff;
  border-radius: 50px;
  /* padding-bottom: 10px; */
  margin: 7px;
  margin-bottom: 20px;

  background-color: #2C2C32;
}

.SpanPresentationCard
{
  color: white;
  margin: 15px;
  font-weight:  bolder;
}

/*Services*/
[title~="AccesBanc"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="AccesBanc"]:hover
{
  color: rgba(0, 96, 164);
  box-shadow: 0 8px 16px 0 rgba(0, 96, 164), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

[title~="TransferRemittances"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="TransferRemittances"]:hover
{
  color: rgba(126, 22, 214);
  box-shadow: 0 8px 16px 0 rgba(126, 22, 214), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

[title~="GridCard"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="GridCard"]:hover
{
  color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

[title~="Nauta"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="Nauta"]:hover
{
  color: rgb(30, 146, 37);
  box-shadow: 0 8px 16px 0 rgb(30, 146, 37), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

[title~="Nod32V8"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="Nod32V8"]:hover
{
  color: rgb(0, 150, 160);
  box-shadow: 0 8px 16px 0 rgb(0, 150, 160), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="SendAmazon"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="SendAmazon"]:hover
{
  color: rgb(251, 150, 32);
  box-shadow: 0 8px 16px 0 rgb(251, 150, 32), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

[title~="RechargeCell"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="RechargeCell"]:hover
{
  color: rgb(66, 153, 232);
  box-shadow: 0 8px 16px 0 rgb(66, 153, 232), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="WebDesign"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="WebDesign"]:hover
{
  color: rgb(202, 41, 145);
  box-shadow: 0 8px 16px 0 rgb(202, 41, 145), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="YouTubePremium"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="YouTubePremium"]:hover
{
  color: rgb(195, 27, 27);
  box-shadow: 0 8px 16px 0 rgb(195, 27, 27), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}

/*Downloads*/
[title~="D3VLauncherd"] 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
[title~="D3VLauncherd"]:hover
{
  color: rgb(124, 140, 155);
  box-shadow: 0 8px 16px 0 rgb(124, 140, 155), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}


.buttomTOPmove
{
  font-size: 40px;
  color: white;
  background-color: #2C2C32;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ffffff;




  /*--offset: 50px; */
  
  /*position: sticky;*/
  /*bottom: 20px; */     
  /*place-self:end;*/
  /*margin-top: calc(100vh + var(--offset));*/
  
  /* visual styling */
}
.buttomTOPmove:hover
{
  
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
}
  


