/*html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}*/

/*body {
    margin: 0
}*/

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}
/*a {
    background-color: transparent
}*/

a:active,a:hover {
    outline: 0
}
button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
/** {
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}*/

:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}*/

/*body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}*/

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none;
}

/*a:focus,a:hover {
    color: #23527c;
    text-decoration: underline
}*/
ol,ul {
    margin-top: 0;
    margin-bottom: 10px
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}
.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
    
}

@media (min-width: 768px) {
    .navbar {
        border-radius:4px
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float:left
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1)
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width: 768px) {
    .navbar-collapse {
        width:auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse {
    max-height: 340px
}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
        margin-right:0;
        margin-left: 0
    }
}
.navbar-fixed-bottom,.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width: 768px) {
    .navbar-fixed-bottom,.navbar-fixed-top {
        border-radius:0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.navbar-brand:focus,.navbar-brand:hover {
    text-decoration: none
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .navbar-toggle {
        display:none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}
@media (min-width: 768px) {
    .navbar-nav {
        float:left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}
@media (min-width: 768px) {
    .navbar-left {
        float:left!important
    }

    .navbar-right {
        float: right!important;
        margin-right: -15px
    }

    .navbar-right~.navbar-right {
        margin-right: 0
    }
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d
}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d
}

.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent
}
.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
    border-color: #101010
}
.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
    display: table;
    content: " "
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
    clear: both
}
































































































/*html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative
}*/

/*body {
    margin: 0;
    padding: 0
}*/

button {
    border: none
}

* {
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif
}
/*html {
    font-size: 10px
}*/

/*@media(max-width: 767px) {
    html {
        font-size:8.5px
    }
}*/

/*@media(min-width: 768px) {
    html {
        font-size:9px
    }
}*/

/*@media(min-width: 992px) {
    html {
        font-size:9.5px
    }
}*/
/*body {
    font-weight: 400;
    color: #444;
    text-rendering: optimizeLegibility
}*/
/*a {
    color: #0071bc;
    text-decoration: none
}*/

/*a:hover,a:focus {
    color: #005893;
    text-decoration: underline
}*/
@media(max-width: 991px) {
    .container {
        width:initial
    }

    .navbar-header {
        float: initial
    }

    .navbar-collapse.collapse {
        display: none !important;
        overflow: auto !important
    }

    .navbar-collapse.in {
        display: block !important;
        overflow-y: auto
    }

    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px
    }

    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px
    }

    .navbar-toggle {
        display: initial
    }

    .navbar-nav>li {
        float: initial
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .nav.navbar-nav {
        margin: 7.5px -15px
    }

    .nav.navbar-nav.navbar-right {
        margin: 0px -15px
    }

    .navbar-left {
        float: initial !important
    }

    .navbar-right {
        float: initial !important
    }
}

@media(max-width: 991px) {
    .navbar.home>.container {
        background-color:rgba(0,0,0,.3)
    }

    .navbar .navbar-brand {
        margin-left: 15px
    }

    .navbar-inverse .navbar-nav>li>a {
        opacity: 1
    }
}
button,.link-button {
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 35px;
    display: inline-block;
    color: inherit;
    cursor: pointer
}
.navbar {
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}
.navbar .navbar-brand {
    position: relative;
    background-image: url("https://avatars.githubusercontent.com/u/113813849?v=4");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: left 50%;
    padding-left: 45px;
    font-size: 20px;
    letter-spacing: -0.04rem;
    color: #fff;
    min-height: 50px;
    padding-top: 15px;
    line-height: 20px;
}

@media(max-width: 320px) {
    .navbar .navbar-brand {
        font-size:15px;
        background-size: 18px;
        padding-left: 30px
    }
}

.navbar-inverse {
    background: #2c2c32;
    border: none;
    margin-bottom: 0
}

.navbar-inverse.navbar-fixed-top::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,.33);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,.33);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,.33);
    transition: all .2s ease-out
}
@media(min-width: 992px) {
    .navbar-nav>li>a {
        padding-top:17px;
        padding-bottom: 13px
    }
}

.navbar li>a {
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px
}
.navbar-left li>a {
    opacity: .6;
    -webkit-transition: opacity .08s ease-in;
    -moz-transition: opacity .08s ease-in;
    -o-transition: opacity .08s ease-in;
    transition: opacity .08s ease-in
}
.navbar-left li>a:hover {
    opacity: 1
}
.navbar-inverse .navbar-nav>li>a {
    /*color: #fff*/
}
.navbar-collapse {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
    border: none
}

.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(0,0,0,0)
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
    background-color: #059BD6;
}
/*body {
    margin-bottom: 135px
}*/
@media(max-width: 480px) {
    footer {
        height:170px
    }

    /*body {
        margin-bottom: 170px
    }*/

    footer .copyright {
        display: block;
        margin-left: 0
    }
}

@media(max-width: 380px) {
    footer {
        height:200px
    }

    /*body {
        margin-bottom: 200px
    }*/

    footer .copyright {
        display: block;
        margin-left: 0
    }
}